*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    /* width: 100%;
    height: 100%; */
}


.topside{
    background-image: url(/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* width: ; */
}


.navbar{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    /* background-color:  red; */
}

.logo img{
    width: 150px;
}

.righttext a{
    padding: 30px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: hsl(0, 100%, 100%);
}

.contactbtn{
    height: 40px;
    width: 100px;
    border-radius: 70px;
    font-size: 15px;
    font-weight: 600;
    border: none;
}

.toph1{
    color: hsl(0, 100%, 100%);
    text-align: center;
    padding-top: 60px;
    font-size: 50px;
    font-weight: 600px;
    /* word-spacing: 15px; */
    letter-spacing: 15px;
}


.arrow{
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px; 
  margin-top: 90px;
}

.secondpart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;


}

.item{
    background-color: tomato;
    /* width: 50%; */
}

.box2{
    background-image: url(/sunnyside-agency-landing-page-main/images/desktop/image-transform.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
}
